@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
$color-gold: #fca311;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-gold: #fca311;
}

body {
  background: #14213d;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}
.counter {
  color: white;
  font-size: 30px;
  padding-bottom: 24px;
  margin-bottom: auto;
  text-shadow: 0 0 17px var(--color-gold);
  flex-grow: 1;
}
$container-width: 100vw;
.stars__container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  // width: $container-width;
  // height: 80vh;
  // position: relative;
}
.star-wrapper {
  animation: animateFall 5s linear forwards;
  position: absolute;
  height: 50px;
  width: 50px;
}
.star {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $color-gold;
  animation: animateRotation 5s linear forwards;
  line-height: 0;
  filter: drop-shadow(0px 0px 15px var(--color-gold));
}
.paused {
  animation-play-state: paused;
}
.hidden {
  color: transparent;
  transition: color 0.3s;
}
// .star:before {
//   content: "\f005";
//   font-family: fontAwesome;
//   text-shadow: 0 0 5px $color-gold, 0 0 30px $color-gold, 0 0 50px $color-gold;
// }

@keyframes animateFall {
  0% {
    transform: translateY(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes animateRotation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
