@mixin absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-night: #14213d;
  --color-gold: #fca311;
  --color-pink: #f7b2b7;
  --color-red: #a30b37;
  --color-blue: #49b6ff;
}

body {
  background: var(--color-night);
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}
.counter {
  position: relative;
  color: white;
  font-size: 30px;
  margin: 24px 0;
  text-shadow: 0 0 17px var(--color-gold);
  flex-grow: 1;
  z-index: 2;
}
.fallers__container {
  padding-top: 24px;
  width: 100vw;
}
.faller-wrapper {
  animation: animateFall 5s linear forwards;
  position: absolute;
  height: 50px;
  width: 50px;
  top: -20px;
}
.faller {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  color: var(--color-gold);
  animation: animateRotation 5s linear forwards;
  line-height: 0;
  // transform: translate(-50% -50%);
  filter: drop-shadow(0px 0px 15px);
  @include absolute-center();
}

.hidden {
  color: transparent !important;
  transition: color 0.3s;
}

@keyframes animateFall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes animateRotation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
